{% extends "auctions/layout.html" %}

{% block body %}

    <div style="height: 400px; width: 100%">
        <img src="{{ listing.image_url }}" style="width: 100%; height: 100%; object-fit: contain"class="img-fluid" alt="Product Image">
    </div>

        <!-- Product Information -->
        <div class="col-md-6">
            <h4>{{ listing.title }}</h4>
            <h1>${{ listing.starting_bid }}</h1> 

            {% if user.is_authenticated %}
                <form action="/">
                    <div class="form-group">
                        <label for="bid">(x) bids so far</label>
                        <input type="number" name="bid" class="form-control" id="bid" aria-describedby="Bid some amount" placeholder="Bid">
                    </div>
                    <button type="submit" class="btn btn-primary">Place Bid</button>
                </form>           

                {%  else %}
            <p>Sign in to place a bid</p>
            
            {% endif %}

            <h3>Details</h3>
            <ul>
              <li><b>Description:</b> {{ listing.description }}</li>
              <li><b>Listed by:</b>  {{ listing.user.username }}</li>
              <li><b>Category:</b> {{ listing.category }}</li>
            </ul>


        </div>
{% endblock %}
